<!DOCTYPE HTML>
<html lang="en" ng-app="spotifyControl" ng-controller="PlayerController">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />

    <title>Laptopify - {{ spotify.metadata.title }} by {{ spotify.metadata.artist }}</title>
    
    <link rel="stylesheet" href="css/bootstrap.css" type="text/css" />
  </head>
  <body>
    <div class="navbar navbar-default">
      <div class="navbar-header">
        <a class="navbar-brand" href="/">Laptopify</a>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-offset-4 col-md-4">
          <div class="media">
            <a class="pull-left" href="{{ spotify.metadata.url }}">
              <img ng-src="{{ spotify.metadata.artUrl }}" class="img-thumbnail media-object">
            </a>
            <div class="media-body">
              <h4 class="media-heading">{{ spotify.metadata.title }}</h4>
              <p>
                {{ spotify.metadata.artist }} ({{ spotify.metadata.album }})
              </p>
            </div>
          </div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-offset-4 col-md-4">
          <div class="btn-group btn-group-justified">
            <a ng-click="spotify.previous()" class="btn btn-default">
              <span class="glyphicon glyphicon-step-backward"></span>
            </a>
            <a ng-click="spotify.playPause()" class="btn btn-default">
              <span class="glyphicon glyphicon-play"></span>
              <span class="glyphicon glyphicon-pause"></span>
            </a>
            <a ng-click="spotify.next()" class="btn btn-default">
              <span class="glyphicon glyphicon-step-forward"></span>
            </a>
          </div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-offset-4 col-md-4">
          <div class="input-group">
            <span class="input-group-addon"><span class="glyphicon glyphicon-volume-up"></span></span>
            <input ng-model="spotify.volume"
                   type="range" max="100" min="0"
                   class="form-control">
          </div>
        </div>
      </div>

      <br>

      <div class="row">
        <div class="col-md-offset-4 col-md-4">
          <div ng-spotify-search></div>
        </div>
      </div>
    </div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.0rc1/angular.js" type="text/javascript" charset="utf-8"></script>
    <script type="text/javascript" charset="utf-8">
      window.angular.module('spotifyControl', [])
        .config(function($compileProvider) {
          $compileProvider.aHrefSanitizationWhitelist(
            /^\s*(https?|ftp|mailto|spotify):/);
        })

        .controller('PlayerController', function($http, $scope, $window) {
          $scope.spotify = {
            metadata: {},
            next: function() {
              $http.post('/next').success(function() {
                $scope.spotify.refreshMetadata();
              });
            },
            refresh: function() {
              $scope.spotify.refreshMetadata();
              $scope.spotify.refreshVolume();
            },
            refreshMetadata: function() {
              $http.get('/metadata').success(function(data) {
                $scope.spotify.metadata.artUrl = data['mpris:artUrl'];
                $scope.spotify.metadata.album = data['xesam:album'];
                $scope.spotify.metadata.artist = data['xesam:artist'][0];
                $scope.spotify.metadata.title = data['xesam:title'];
                $scope.spotify.metadata.url = data['xesam:url'];
              }); 
            },
            refreshVolume: function() {
              $http.get('/volume').success(function(volume) {
                $scope.spotify.volume = volume;
              });
            },
            playPause: function() {
              $http.post('/play_pause').success(function() {
                $scope.spotify.refreshMetadata();
              });
            },
            previous: function() {
              $http.post('/previous').success(function() {
                $scope.spotify.refreshMetadata();
              });
            }
          };

          $scope.$watch('spotify.volume', function(volume, oldVolume) {
            if (volume !== oldVolume) { $http.post('/volume', {volume: volume}); }
          });

          $scope.spotify.refresh();
          $window.setInterval($scope.spotify.refresh, 5000);

          $scope.$on('refresh-metadata', $scope.spotify.refreshMetadata);
        })

        .directive('ngSpotifySearch', function($http) {
          return {
            scope: {},
            link: function(scope, element, attrs) {
              scope.openUri = function() {
                $http.post('/open_uri', {uri: scope.uri});
                scope.$emit('refresh-metadata');
              };

              scope.setSearch = function(searchType) {
                var uri = 'spotify:search:';
                if (angular.isDefined(searchType)) {
                  uri += searchType + ':';
                }
                scope.uri = uri;
              };
            },
            templateUrl: 'templates/ng-spotify-search'
          };
        });
    </script>

    <script type="text/ng-template" id="templates/ng-spotify-search">
      <form ng-submit="openUri()">
        <div class="input-group">
          <span class="input-group-addon"><span class="glyphicon glyphicon-music"></span></span>
          <input ng-model="uri" type="text" class="form-control"
                 value="spotify:search:"
                 placeholder="Enter a Spotify URI (or drag a playlist from the app)">
          <span class="input-group-btn">
            <button class="btn btn-default" type="submit">Open</button>
          </span>
        </div>
      </form>
      <div class="btn-group btn-group-justified btn-group-sm">
        <a class="btn btn-default" ng-click="setSearch()">search</a>
        <a class="btn btn-default" ng-click="setSearch('track')">track</a>
        <a class="btn btn-default" ng-click="setSearch('artist')">artist</a>
        <a class="btn btn-default" ng-click="setSearch('album')">album</a>
      </div>
    </script>
  </body>
</html>
